[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Demonstration of https://github.com/inxilpro/node-app-root-path/issues/17
[access "refs/*"]
	owner = group user/Heath Morrison (doublemarked)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Heath Morrison (doublemarked)
	label-Verified = -1..+1 group user/Heath Morrison (doublemarked)
	push = group user/Heath Morrison (doublemarked)
	read = group user/Heath Morrison (doublemarked)
	rebase = group user/Heath Morrison (doublemarked)
	removeReviewer = group user/Heath Morrison (doublemarked)
	submit = group user/Heath Morrison (doublemarked)
[access "refs/heads/*"]
	create = group user/Heath Morrison (doublemarked)
	push = +force group user/Heath Morrison (doublemarked)
	pushMerge = group user/Heath Morrison (doublemarked)
	read = group user/Heath Morrison (doublemarked)
[access "refs/tags/*"]
	push = group user/Heath Morrison (doublemarked)
	push = +force group user/Heath Morrison (doublemarked)
